{% extends 'grading/students/dashboardBase.html' %}

{% block title %}
  View Grades
{% endblock %}

{% block student_breadcrumb %}
    <li class="breadcrumb-item active">Grades</li>
{% endblock %}

{% block content %}
    <h1>Grades</h1>
    <!-- <h2 class="pt-5">{{ student.user.first_name }} {{ student.user.last_name }}</h2> -->
    <h2 class="pt-5">{{ student.user.first_name }} {{ student.user.last_name }} {{ student.user.id }} {{student.student_id}}  </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.course.course_name }}</td>
                    <td>{{ enrollment.grade }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="1"><strong>GPA</strong></td>
                <td colspan="1">{{ gpa }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}